@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap');

.Blog {
    background-image: url("../../img/Triangle-White-Seamless-Patterns.jpg");
    /* background-image: url("../../img/Light-paper-fibers-Seamless-Pattern.jpg"); */
    /* background-image: url("../../img/White-Brick-Wallpaper1.jpg"); */
}

.Blog nav {
    background-color: rgba(238, 238, 238, 0.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;   
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-weight: bold;
}

.Blog a:hover,
.Blog a:active {
    color: #13cbe7;
}